---
layout: default
---

<!-- parses session info and prints out only what is provided. 
     This way during development it doesn't look silly, or if instructors don't provide
     the same infomation the formatting is consistent. -->
<script>
  function write_header() {
  var output = "";
  
  if ("{{ page.instructor}}".length !==0) {
     output += "<i>{{ page.instructor }}</i><br>"
  }
  if ("{{ page.instructor_title }}".length !==0) {
     output += "<i>{{ page.instructor_title }}</i><br>"
  }
  if ("{{ page.instructor_affiliation }}".length !==0) {
     output += "<i>{{ page.instructor_affiliation }}</i><br>"
  }
    
  return output;

  }
</script>



<script>
function goBack() {
    window.history.back();
}
</script>


<!-- main class to format each page.  Calls function above to write the session logistics like:
     time, day (maybe location in future), instructor, etc. -->
<div class="bio">
  <h1 class="bio-title">{{ page.title }}</h1>
  <script> document.write(write_header()) </script>
  <hr />

  {{ content }}
<br><br>
</div>

<a href="javascript: window.history.back()">Go Back</a>


