---
layout: default
---


<div class="session">
  <h1 class="session-title">{{ page.title }}</h1>
  {{ page.time }}<br>
  {{ page.date }}<br><br>
  <i>{{ page.instructor }}</i><br> 
  <i>{{ page.instructor_title }}</i><br>
  <i>{{ page.instructor_affiliation }}</i><br>
  <hr />

  {{ content }}
<br><br>
</div>

<h2>Session Materials</h2>
<div class='materials'>
  Check back after the bootcamp for slides and/or code from this session.
  Click <a href="{{ site.baseurl }}/agenda/">here</a> to return to the agenda.
</div>
<br/>
