---
layout: default
---

<!-- parses session info and prints out only what is provided.
     This way during development it doesn't look silly, or if instructors don't provide
     the same infomation the formatting is consistent. -->
<script>
  function write_header() {
  var output = "";

  if ("{{ page.time }}".length !==0) {
    output += "{{ page.time }}<br>"
  }
  if ("{{ page.date }}".length !==0) {
     output += "{{ page.date }}<br><br>"
  }
  if ("{{ page.instructor}}".length !==0) {
     output += "<i>{{ page.instructor }}</i><br>"
  }
  if ("{{ page.instructor_title }}".length !==0) {
     output += "<i>{{ page.instructor_title }}</i><br>"
  }
  if ("{{ page.instructor_affiliation }}".length !==0) {
     output += "<i>{{ page.instructor_affiliation }}</i><br>"
  }

  return output;

  }
</script>


<!-- main class to format each page.  Calls function above to write the session logistics like:
     time, day (maybe location in future), instructor, etc. -->
<div class="session">
  <h1 class="session-title">{{ page.title }}</h1>
  <script> document.write(write_header()) </script>
  <hr />

  {{ content }}
<br><br>
</div>

<!-- Place holder for now for the Session materials.  May need to remove and move to individual
     sessions later
<h2>Session Materials</h2>
<div class='materials'>
  Check back after the bootcamp for slides and/or code from this session.
  Click <a href="{{ site.baseurl }}/agenda/">here</a> to return to the agenda.
</div>
<br/> -->
