---
layout: default
---

<!-- parses session info and prints out only what is provided. 
     This way during development it doesn't look silly, or if instructors don't provide
     the same infomation the formatting is consistent. -->
<script>
  function write_header() {
  var output="test: ";
  var list=["{{ page.time }}", "{{ page.date }}", "{{ page.instructor }}",
            "{{ page.instructor_title }}", "{{ page.instructor_affiliation }}"];

  for (i = 0; i < list.length; i++ ) {
     if (i.length > 1) {
        output+=i;
     }
  }
    
  return output;

  }
</script>


<!-- main class to format each page.  Calls function above to write the session logistics like:
     time, day (maybe location in future), instructor, etc. -->
<div class="session">
  <h1 class="session-title">{{ page.title }}</h1>
  <script> document.write(write_header()) </script>
  <hr />

  {{ content }}
<br><br>
</div>

<!-- Place holder for now for the Session materials.  May need to remove and move to individual
     sessions later -->
<h2>Session Materials</h2>
<div class='materials'>
  Check back after the bootcamp for slides and/or code from this session.
  Click <a href="{{ site.baseurl }}/agenda/">here</a> to return to the agenda.
</div>
<br/>
